<div class="row justify-content-md-center">
        <div class="col spo-disp-comp">
<h5>Add Followup Volunteer</h5>
<app-devotee-search
    [searchType]="'global'"
    [searchContextParams]="this.searchContextParams"
    [actionButtonText]="'Add'"
    (onActionPerformed)="onVolunteerAddClick($event[0])"
>
</app-devotee-search>

List of Volunteers ({{ this.contents.paging.totalElements }})
<ngb-accordion [closeOthers]="true" activeIds="{{activePanel}}">
        <div *ngFor="let assignment of contents.dataList">
            <ngb-panel id="{{assignment.devoteeId}}_id">
                <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    {{assignment.devoteeName}}
                                    <span *ngIf="assignment.followupVolunteer" class="font-italic">(Followup volunteer)</span>
                                </span>
                                <span class="oi oi-trash" (click)="onRemoveVolunteerClick(assignment.id)"></span>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row">
                        <div *ngIf="assignment.followupVolunteer===false" class="col">
                            <button type="button" class="w-100 btn btn-light btn-sm" (click)="onAddAsFollowupVolunteerClick(assignment)">
                                <span class="oi oi-plus"></span><br>Add as Followup Volunteer
                            </button>
                        </div>
                        <div *ngIf="assignment.followupVolunteer" class="col">
                            <button type="button" class="w-100 btn btn-light btn-sm" (click)="onRemoveAsFollowupVolunteerClick(assignment)">
                                <span class="oi oi-plus"></span><br>Remove as Followup Volunteer
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </div>
    </ngb-accordion>


<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>

</div>
</div>