<div class="form-group">
    <label for="volunteerInput">Add followup volunteer</label>
    <div class="input-group">
        <input type="text" class="form-control" id="VolunteerInput" placeholder="Add a Followup Task" aria-label="Type volunteer email id" [(ngModel)]="email">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="onVolunteerAddClick()"><span class="oi oi-plus"></span></button>
        </span>
    </div>
</div>

List of Volunteers

<ul class="list-group">
    <div *ngFor="let assignment of contents.dataList">
        <li class="list-group-item d-flex justify-content-between align-items-center py-2">
            {{assignment.devoteeName}} <span class="oi oi-trash" (click)="onRemoveVolunteerClick(assignment.id)"></span>
        </li>
    </div>
</ul>

<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>