<div class="form-group">
    <label for="participantsInput">Add participants</label>
    <div class="input-group">
        <input type="text" class="form-control" id="participantsInput" placeholder="Type name/email/phone to search" aria-label="Add a Participant" [(ngModel)]="email" [class.is-invalid]="searchFailed" [ngbTypeahead]="emailSearch">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="onParticipantAddClick()"><span class="oi oi-plus"></span></button>
        </span>
    </div>
</div>
    
List of Participants
    
<ul class="list-group">
    <div *ngFor="let participant of contents.dataList">
        <li class="list-group-item d-flex justify-content-between align-items-center py-2">
            {{participant.attendeeName}} <span class="oi oi-trash" (click)="onRemoveParticipantClick(participant.id)"></span>
        </li>
    </div>
</ul>
    
<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>