<div class="row justify-content-md-center">
        <div class="col spo-disp-comp">


                <h5>Program Actions</h5>
                <div class="row">
                    <div class="col">
                        <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onManageSessions(program.id)">
                            <span class="oi oi-microphone w-100"></span><br>Sessions
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAddParticipants(program.id)">
                            <span class="oi oi-plus"></span><br>Participants
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAddFollowupVolunteers(program.id)">
                            <span class="oi oi-plus"></span><br>Volunteers
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAssignFollowups(program.id)">
                            <span class="oi oi-people"></span><br>Followups
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onMarkAttendance(program.id)">
                            <span class="oi oi-check"></span><br>Attendance
                        </button>
                    </div>
                </div>
                <hr>
                <app-attendance-report programId="1"> </app-attendance-report>
                <hr>
<h5> {{program.name}} Details</h5>
<span class="font-italic small">
    (Type: {{program.type}}&nbsp;Target Audiance: {{program.targetAudience}})
</span> <br> <br>

<div class="form-group">
    <label for="descriptionInput">Program Description</label>
    <textarea class="form-control" rows="5" id="descriptionInput"  placeholder="Write program description"
    [(ngModel)]='program.description'></textarea>
</div>

<div class="form-group">
    <label for="addressInput">Where does this program happen?</label>
    <input type="text" class="form-control" id="addressInput" placeholder="Program Location" aria-label="Program Location" [(ngModel)]="program.address">
</div>

<div class="form-group">
    <label for="mapInput">Link to map location</label>
    <input type="text" class="form-control" id="mapInput" placeholder="Map Location" aria-label="Map Location" [(ngModel)]="program.mapLocation">
</div>

<div class="form-group">
    <label for="taskInput">Add/Modify followup tasks</label>
    <div class="input-group">
        <input type="text" class="form-control" id="taskInput" placeholder="Add a Followup Task" aria-label="Add a Followup Task" [(ngModel)]="task">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="onTaskAddClick()"><span class="oi oi-plus"></span></button>
        </span>
    </div>
</div>

<ul class="list-group">
    <div *ngFor="let taskItem of program.followupDescription">
        <li class="list-group-item d-flex justify-content-between align-items-center py-2">
            {{taskItem}} <span class="oi oi-trash" (click)="onTaskRemoveClick(taskItem)"></span>
        </li>
    </div>
</ul>

<br>
<hr>
<div class="form-group">
<label for="sessionPick">Assign current followup session</label>
<div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="attendanceDate" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <span class="oi oi-calendar"></span>
      </button>
      <button class="btn btn-outline-info" (click)="onFetchCurrentFollowupSession()" type="button">
        Fetch
      </button>
    </div>
</div>
<div *ngIf="program.currentFollowupSession==undefined else displayCurrentSession"><strong>No Session Selected for followup</strong></div> 
<ng-template #displayCurrentSession>
    <div>Current Followup Session <br> <strong>{{program.currentFollowupSessionDate}}</strong>
        <br><i>{{program.currentFollowupSessionTopic}}</i></div>
</ng-template>
</div>

<button class="btn btn-primary my-3" (click)="onUpdateProgramClick()">
    Update {{program.name}} Details
</button>
<button class="btn btn-primary my-3" (click)="onAreaSubscriptionClick(areaSubscriptionModal)">
    Area Subscription
</button>
<button class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>




<ng-template #areaSubscriptionModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Area Subscription</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Subscribe to the postal codes that your program caters to</p>
        <div *ngIf="areaSubscription.dataList.length==0">
            <div class="form-group">
                <div class="input-group">
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary" id="countryCodeMenu" ngbDropdownToggle>
                            Country Code
                        </button>
                        <div ngbDropdownMenu aria-labelledby="countryCodeMenu">
                            <div *ngFor="let ccode of enumService.enums.countryCode.countryCodeName">
                                <a class="dropdown-item" (click)="countryCodeText=ccode">{{ccode}}</a>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="countryCodeText" disabled>
                </div>
            </div>
        </div>
        <div *ngIf="areaSubscription.dataList.length!=0">
            Country Code {{countryCodeText}}
        </div>
        <div class="form-group">
            <label for="pinInput">Add/Remove Postal Codes</label>
            <div class="input-group">
                <input type="text" class="form-control" id="pinInput" placeholder="Add a Postal Code" aria-label="Add a Postal Code" [(ngModel)]="postalCode">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="onPostalCodeAddClick()"><span class="oi oi-plus"></span></button>
                </span>
            </div>
        </div>
        <ul class="list-group">
            <div *ngFor="let areaSub of areaSubscription.dataList">
                <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                    {{areaSub.zipPostalCode}} <span class="oi oi-trash" (click)="deleteProgramAreaSubscription(areaSub.id)"></span>
                </li>
            </div>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('ok')">Ok</button>
    </div>
</ng-template>

</div>
</div>