<div class="row justify-content-md-center">
    <div class="col spo-disp-comp">
      <h5>Select a Session</h5>
<i>Choose a valid session date and click on pen to edit</i><br>
<div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="attendanceDate" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <span class="oi oi-calendar"></span>
      </button>
      <button class="btn btn-outline-info" (click)="loadSession()" type="button">
        <span class="oi oi-pencil"></span>
      </button>
    </div>
  </div>  
<br>
Session Date: {{session.sessionDate}} <br>
Session Topic: {{session.topic}} <br>
<br>
<hr>
<div *ngIf="session.id==undefined else validSession"><strong>Select a valid session date</strong></div>
 
<ng-template #validSession>
    <h5>Manage Attendance</h5>
    <div class="card">
      <div class="card-body"> <h6 class="card-title"> Mark Attendance </h6>
        <strong>Search Devotee for Attendance</strong>
        <app-devotee-search 
          [searchType]="'global'"
          [actionButtonText]="'mark'"
          (onActionPerformed)="markAttendanceForDevotee($event[0])"
        >
        </app-devotee-search><br>

        <strong>List of Attendees</strong>
        <app-devotee-display
          [devoteeDisplayParams]='devoteeDisplayParams'
          (onActionPerformed)="actionCallBack($event[0], $event[1], $event[2])"
          (loadContentsCallback)="loadContents($event[0])"
          (quickActionCallback)="removeAttendance($event[0], $event[1])"
        >
        </app-devotee-display>
    </div>
  </div>
</ng-template>

<button class="btn btn-primary my-3" (click)="onBackClick()">Back</button>

</div>
</div>