<div *ngFor="let program of contents.dataList">
    <div class="card">
        <div class="card-body">
            {{program.name}} <br>
            <span class="font-italic small">
                &nbsp;(Type: {{program.type}} Target Audiance: {{program.targetAudience}})
            </span> <br>
            
            <div class="row">
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onManageProgram(program.id)">
                        <span class="oi oi-cog w-100"></span><br>Manage
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onManageSessions(program.id)">
                        <span class="oi oi-microphone w-100"></span><br>Sessions
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAddParticipants(program.id)">
                        <span class="oi oi-plus"></span><br>Participants
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAddFollowupVolunteers(program.id)">
                        <span class="oi oi-plus"></span><br>Volunteers
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onAssignFollowups(program.id)">
                        <span class="oi oi-people"></span><br>Followups
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onMarkAttendance(program.id)">
                        <span class="oi oi-check"></span><br>Attendance
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>