<div class="row justify-content-md-center">
        <div class="col spo-disp-comp">

            <h5>My Programs</h5>

<div *ngFor="let program of contents.dataList">
    <div class="card">
        <div class="card-body">
            {{program.name}} <br>
            <span class="font-italic small">
                &nbsp;(Type: {{program.type}} Target Audiance: {{program.targetAudience}})
            </span> <br>
            <button type="button" class="w-100 btn btn-info btn-sm my-2" (click)="onManageProgram(program.id)">
                    <span class="oi oi-cog w-100"></span><br>Manage
                </button>            
        </div>
    </div>
</div>
            
<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>

</div>
</div>