<ngb-accordion [closeOthers]="true" activeIds="{{activePanel}}">
    <div *ngFor="let devotee of contents.dataList">
      <ngb-panel id="{{devotee.id}}_id">
        <ng-template ngbPanelTitle>
          <span class="float-left w-50">{{devotee.name}}</span>
          <span class="float-right w-50" style="text-align: right">{{devotee.phone}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col">
                <span (click)="onPhoneClick(devotee.id)">
                <a href="tel:{{devotee.phone}}" class="w-100 btn btn-light btn-sm">
                    <span class="oi oi-phone w-100"></span><br>Call
                </a>
              </span>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onHistoryClick(devotee.id)">
                  <span class="oi oi-document"></span><br>History
              </button>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onProfileClick(devotee.id)">
                  <span class="oi oi-person"></span><br>Profile
              </button>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onCommentClick(devotee.id)">
                  <span class="oi oi-pencil"></span><br>Comment
              </button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </div>
  </ngb-accordion>
  <div>
      <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
      <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
      <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
  </div>
  <button class="btn btn-primary" (click)="onBackClick()">Back</button>