<div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput"  placeholder="Enter Name">
</div>
<div class="form-group">
    <label for="contactNumberInput">Contact Number</label>
    <input type="tel" class="form-control" id="contactNumberInput" placeholder="Enter Contact Number">
</div>
<div class="form-group">
    <label for="areaInput">Area</label>
    <input type="text" class="form-control" id="areaInput" placeholder="Where do you stay?">
</div>
<div class="form-group">
    <label for="postalCodeInput">ZIP/Postal Code</label>
    <input type="tel" class="form-control" id="postalCodeInput" placeholder="ZIP/Postal Code">
</div>
<button class="btn btn-primary" (click)="onCaptureClick()">Capture</button>    