<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <div *ngFor="let devotee of devoteeList">
      <ngb-panel id="{{devotee.id}}_id">
        <ng-template ngbPanelTitle>
          <span class="float-left w-50">{{devotee.name}}</span>
          <span class="float-right w-50" style="text-align: right">{{devotee.phone}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col">
                <span (click)="onPhoneClick(devotee.id)">
                <a href="tel:{{devotee.phone}}" class="w-100 btn btn-light btn-sm">
                    <span class="oi oi-phone w-100"></span><br>Call
                </a>
              </span>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onHistoryClick(devotee.id)">
                  <span class="oi oi-document"></span><br>History
              </button>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onProfileClick(devotee.id)">
                  <span class="oi oi-person"></span><br>Profile
              </button>
            </div>
            <div class="col">
              <button type="button" class="w-100 btn btn-light btn-sm" (click)="onCommentClick(devotee.id)">
                  <span class="oi oi-pencil"></span><br>Comment
              </button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </div>
  </ngb-accordion>