<div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput"  placeholder="Enter Name" [(ngModel)]='devotee.legalName'>
</div>
<div class="form-group">
    <label for="contactNumberInput">Contact Number</label>
    <input type="tel" class="form-control" id="contactNumberInput" placeholder="Enter Contact Number" [(ngModel)]='devotee.smsPhone'>
</div>
<div class="form-group">
    <label for="areaInput">Area</label>
    <input type="text" class="form-control" id="areaInput" placeholder="Where do you stay?" [(ngModel)]='devotee.area'>
</div>
<div class="form-group">
    <label for="postalCodeInput">ZIP/Postal Code</label>
    <input type="tel" class="form-control" id="postalCodeInput" placeholder="ZIP/Postal Code" [(ngModel)]='devotee.zipPostalCode'>
</div>
<button class="btn btn-primary" (click)="onCaptureClick()">Capture</button>
<button class="btn btn-primary my-3" (click)="onBackClick()">Back</button>