<div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6 col-xl-4">
        <div class="card">
            <img class="card-img-top" src="../../assets/sacredprayer_welcome.png" alt="Welcome to Sacred Prayer">
            <div class="card-body">
                <h5 class="card-title">Welcome</h5>
                <p class="card-text">
                    We are happy to offer this platform for getting your contacts connected and gradually attain the lotus feet of Lord Krishna.
                    You may introduce a contact into prayer book. A prayer can make a difference in their life.
                </p>
                <button class="btn btn-primary" (click)="onPrayerBookClick()">Prayer Book</button>
            </div>
        </div>
    </div>
</div>