<div class="row justify-content-md-center">
        <div class="col spo-disp-comp">

<div *ngFor="let followupProgram of contents.dataList">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-info btn-sm my-2" (click)="onStartFollowup(followupProgram.programId)"><span class="oi oi-pencil"></span></button>
            {{followupProgram.programName}} <br>
        </div>
    </div>
</div>
    
<div>
    <button class="btn btn-primary my-3" (click)="loadContents(0)" [disabled]=contents.paging.first> &lt; &lt;</button>
    <button class="btn btn-primary my-3" (click)="loadContents(this.contents.paging.pageNumber-1)" [disabled]=contents.paging.first> &lt; Prev </button>
    <button class="btn btn-primary my-3 float-right" (click)="loadContents(this.contents.paging.pageNumber+1)" [disabled]=contents.paging.last>Next &gt;</button>
</div>
<button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
    Back
</button>

<div class="row justify-content-md-center">
        <div class="col spo-disp-comp">