<div class="row justify-content-md-center">

<div class="card spo-disp-comp">
    <div class="card-title">
        
    </div>
    <div class="card-body">
        Rate {{devotee.legalName}} <ngb-rating max="5" [(rate)]="history.rating"></ngb-rating> ({{history.rating}})
        <br>
        <label for="followupComment">Followup Comment</label>
        <textarea class="form-control" id="followupComment" rows="3" [(ngModel)]="history.comment"></textarea>
        <br>
        <p align="center">
            <button type="button" class="btn btn-primary" (click)="onSaveClick()">
                Save and Proceed
            </button>
            <button type="button" class="btn btn-primary my-3" (click)="onBackClick()">
                Back
            </button>
        </p>
    </div>
</div>

</div>