<app-devotee-search
    [searchType]="'global'"
    [actionButtonText]="'Select'"
    (onActionPerformed)="onDevoteeSelectClick($event[0])"
>
</app-devotee-search>

<div *ngIf="this.selectedDevotee" class="mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Devotee Details</h5>
            <div class="card-text" class="container">
                <div class="row">
                    <div class="col-4 font-weight-bold">Name:</div>
                    <div class="col-8">{{ this.selectedDevotee.legalName }}</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Phone Number:</div>
                    <div class="col-8">{{ this.selectedDevotee.smsPhone }}</div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">Email:</div>
                    <div class="col-8">{{ this.selectedDevotee.email }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.selectedDevotee && !this.selectedDevotee.userAccountId">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create user account</h5>
            <div *ngIf="!this.userAccountRespData" class="card-text" class="container">
                <div class="form-group">
                    <label for="email">Email* (Mandatory field)</label>
                    <input type="text" class="form-control" id="email"  placeholder="Enter Email" [(ngModel)]='accountEmail'>
                    <span><small class="text-muted">This email will be updated in the profile as well</small></span>
                </div>
                <div class="form-group">
                    <label for="roleSelect">Role* (Mandatory field)</label>
                    <select class="form-control" id="roleSelect" [(ngModel)]="selectedRole">
                        <option *ngFor="let role of this.availableRoles">
                            {{ role }}
                        </option>
                    </select>
                </div>
                <div *ngIf="this.createErrorMsg" class="text-danger">{{ createErrorMsg }}</div>
                <button class="btn btn-primary" (click)="onCreateNewAccountClick()">Create</button>
            </div>
            <div *ngIf="this.userAccountRespData" class="card-text">
                User account created successfully for {{ this.userAccountRespData.devoteeName }}.
                <br/>
                Credentials are as below:
                <br/>
                Username: {{ this.userAccountRespData.username }}
                <br/>
                Password: harekrishna
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.selectedDevotee && this.selectedDevotee.userAccountId">
    <div class="card">
        <div class="card-body">
            <div *ngIf="!this.resetPasswordRespData">
                <button class="btn btn-primary" (click)="onResetPasswordClick()">Reset Password</button>
            </div>
            <div *ngIf="this.resetErrorMsg">{{ this.resetErrorMsg }}</div>
            <div *ngIf="this.resetPasswordRespData">
                Password has been reset for {{ this.resetPasswordRespData.devoteeName }}
                <br/>
                Credentials are as below:
                <br/>
                Username: {{ this.resetPasswordRespData.username }}
                <br/>
                Password: harekrishna
            </div>
        </div>
    </div>
</div>
