<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableMyFollowups (click)="onMyFollowupsClick()">My Followups</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableMyPrograms (click)="onMyProgramsClick()">My Programs</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableCaptureContact (click)="onCaptureContactClick()">Capture Contact</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableCapturedList (click)="onCapturedListClick()">My Caprtured List</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableYatraAdmin (click)="onYatraAdminClick()">Yatra Admin</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=enableSuperAdmin (click)="onSuperAdminClick()">Super Admin</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf=manageUserAccount (click)="onManageUserAccountClick()">Manage User Account</button>