<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onMyFollowupsClick()">My Followups</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onMyProgramsClick()">My Programs</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onCaptureContactClick()">Capture Contact</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onCapturedListClick()">My Caprtured List</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onYatraAdminClick()">Yatra Admin</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onSuperAdminClick()">Super Admin</button>