/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css'; 
@import '~open-iconic-fonts/css/open-iconic-bootstrap.min.css';

body {    
    margin: 0 auto;
}

.spo-disp-comp {
    max-width: 400px;
    padding:0;
}